:root {
  --primary-color: rgb(255 155 33);

  --link-color: rgb(0 113 179);

  --primary-text-color: rgb(51 51 51);
  --secondary-text-color: rgb(77 77 77);
  --tertiary-text-color: rgb(255 255 255);

  --primary-svg-background-color: rgb(0 0 0 / 60%);
  --primary-border-color: rgb(230 230 230);

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
}
