:root {
  --primary-color: #ff9b21;

  --link-color:  #0071b3;

--primary-text-color: #333333;
--secondary-text-color: #4d4d4d;
--tertiary-text-color: #FFFFFF;

  --primary-svg-background-color: rgb(0 0 0 / 60%);
  --primary-border-color: rgb(230 230 230);

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;

  --font-weight-standart: 600
}