:root {
  --primary-color: #ff9b21;

  --link-color: #0071b3;

  --primary-text-color: #333333;
  --secondary-text-color: #4d4d4d;
  --tertiary-text-color: #ffffff;

  --primary-svg-background-color: #00000099;
  --primary-footer-background: #f2f2f2;
  --primary-border-color: #e6e6e6;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;

  --font-weight-standart: 600;
}
