* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Proxima Nova,
    Arial,
    sans-serif,
    serif;
  line-height: 1.5;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Regular.ttf");
}

.main-header {
  background-color: var(--primary-color);
}

body {
  /* width: 375px; */
  color: var(--primary-text-color);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-standart);
}

h2 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-standart);
}

h3 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-standart);
}

h4 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-standart);
}

h5 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-standart);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.nav-path {
  display: none;
  color: var(--secondary-text-color);

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem 0rem 1rem;
    gap: 0.25rem;
  }
}

.main-nav {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--tertiary-text-color);
    font-size: var(--font-size-m);
  }

  .nav-desktop {
    display: none;

    @media (min-width: 768px) {
      display: inline-flex;
      font-size: var(--font-size-m);
    }
  }

  .nav-mobile {
    display: flex;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .main-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    list-style: none;

    .logo-item {
      a {
        img {
          width: 5.5rem;
          height: auto;
        }
      }
    }

    .nav-account {
      a {
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        span {
          font-size: var(--font-size-xs);
        }
      }
    }

    nav-item {
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.bottom-image-pictures {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
  gap: 1rem;

  @media (min-width: 768px) {
    display: none;
  }

  .bottom-plattegrond-pictures {
    .media-options {
      li {
        list-style-type: none;
      }
      .media-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 0.25rem;

        .svg-wrapper {
          position: absolute;
          top: 1rem;
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          background-color: var(--primary-svg-background-color);
          border-radius: 50%;
        }
      }
    }
  }

  .bottom-360-picture {
    .media-options {
      li {
        list-style-type: none;
      }
      .media-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 0.25rem;

        .svg-wrapper {
          position: absolute;
          top: 1rem;
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          background-color: var(--primary-svg-background-color);
          border-radius: 50%;
        }
      }
    }
  }

  .bottom-video-picture {
    .media-options {
      li {
        list-style-type: none;
      }
      .media-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 0.25rem;

        .svg-wrapper {
          position: absolute;
          top: 1rem;
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          background-color: var(--primary-svg-background-color);
          border-radius: 50%;
        }
      }
    }
  }

  .bottom-3dtour {
    .media-options {
      li {
        list-style-type: none;
      }
      .media-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 0.25rem;

        .svg-wrapper {
          position: absolute;
          top: 1rem;
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          background-color: var(--primary-svg-background-color);
          border-radius: 50%;
        }
      }
    }
  }
}

.main-listing-info {
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);

  a {
    display: flex;
    gap: 0.188rem;
  }

  /* a:first-of-type {
    gap: 0.813rem;
  } */

  dl {
    display: flex;
    gap: 0.25rem;

    dd {
      span {
        display: none;
        color: var(--secondary-text-color);

        @media (min-width: 768px) {
          display: inline-flex;
        }
      }
    }

    /* @media (min-width: 768px) {
      gap: 2rem;
    } */
  }

  .new-span {
    padding: 0.188rem 0.5rem;
    color: var(--tertiary-text-color);
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-standart);
    border-radius: 0.25rem;
  }

  .listing-adress-info {
    span {
      color: var(--link-color);
    }
  }

  .monthly-payments-desktop {
    display: none;
    align-items: center;
    gap: 1rem;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .mortage-calculator-link {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.listing-description {
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.features {
  section {
    h3 {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 0.5rem 0 0.5rem;
    }
    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;
    margin-top: 1rem;
    dl {
      dd {
        padding: 0.5rem;
        display: flex;
        gap: 1em;
      }
      dt {
        padding: 0.5rem;
        color: var(--secondary-text-color);
        border-top: 1px solid var(--primary-border-color);
      }
    }
  }
  position: relative;
  margin: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.kaart {
  position: absolute;
  top: 0.313rem;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.transfer {
  border-bottom: 1px solid var(--primary-border-color);
  padding-bottom: 1rem;
  .login-content {
    color: var(--link-color);
  }
}

.main-image-picture {
  position: relative;

  img {
    max-width: 100%;
  }

  .main-image-buttons {
    position: absolute;
    top: 0.438rem;
    right: 0.188rem;

    .liked-heart {
      width: 1.5rem;
      height: 1.5rem;
      fill: transparent;
      stroke: var(--link-color);
      stroke-width: 2.188rem;
      max-width: 100%;
    }

    .is-liked .liked-heart {
      fill: var(--link-color);
      animation-name: pop-animation;
      animation-duration: 0.2s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
    }
  }
}

.desktop-media-options {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin-left: 1rem;
  }

  nav {
    width: 100%;
  }

  li:nth-of-type(5) {
    margin-left: auto;
    margin-right: 1rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

button {
  background: var(--tertiary-text-color);
  color: var(--link-color);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--link-color);
  border-radius: 0.313rem;
  cursor: pointer;

  &:hover {
    background-color: (--link-color);
  }
}
