* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Proxima Nova, Arial, sans-serif, serif;
  line-height: 1.5;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Regular.ttf");
}

header {
  background-color: var(--primary-color);
}

body {
  width: 375px;
  color: var(--primary-text-color);
  line-height: 1.5;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-l);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-m);
  font-weight: 600;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.main-nav {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--tertiary-text-color);
    font-size: var(--font-size-xs);
  }

  .main-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    list-style: none;

    nav-item {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.bottom-image-pictures {
  display: flex;
  gap: 16px;
}

.main-listing-info {
  position: relative;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--primary-border-color);

  dl {
    display: flex;
    gap: 4px;
  }

  .nieuw {
    padding: 3px 8px;
    color: var(--tertiary-text-color);
    margin-bottom: 8px;
    background-color: var(--primary-color);
    font-size: var(--font-size-xs);
    font-weight: 600;
    border-radius: 4px;
  }
}

.listing-description {
  position: relative;
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--primary-border-color);
}

.kenmerken {
  section {
    h3 {
      display: flex;
      gap: .5rem;
      padding: 0.5rem 0.5rem 0 0.5rem;
    }
    border: 1px solid var(--primary-border-color);
    border-radius: 8px;
    margin-top: 16px;
    dl {
      dd {
        padding: .5rem;
      }
      dt {
        padding: .5rem;
        color: var(--secondary-text-color);
        border-top: 1px solid var(--primary-border-color);
      }
    }
  }
  position: relative;
  margin: 16px;
  border-bottom: 1px solid var(--primary-border-color);
}

.kaart {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.overdracht {
  border-bottom: 1px solid var(--primary-border-color);
  padding-bottom: 16px;
  .login-content {
    color: var(--link-color);
  }
}

.main-image-picture {
  position: relative;

  img {
    max-width: 100%;
  }
}

.main-image-buttons {
  position: absolute;
  top: 3px;
  right: 0px;
}

button {
  background: var(--tertiary-text-color);
  color: var(--link-color);
  padding: 8px 12px;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  cursor: pointer;
  

  &:hover {
    background-color: (--link-color);
  }
}
